# Python-specific
__pycache__/
*.py[cod]

# Virtual environments
myenv/
env/
venv/
envr/

# Environment variables
.env

# Temporary files and logs
temp/
*.log

# Static user uploads
static/uploads/

#rough files
rough.py
