<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static/css/style1.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/images/flipkart.png" alt="Flipkart Logo"  class="small-logo">
            <img src="static/images/grid.png" alt="Grid 6.0 Logo" class="large-logo">
        </div>
        <nav>
          <a href="{{ url_for('home') }}">Home</a>
        </nav>
    </header>
    <div class="title">
        <h1 class="team-name">Tech Hunters</h1> <!-- Change the team name as needed -->
    <div>

    <main>
        <section class="member">
            <h2>Irri Dileep Kumar</h2>
            <p><strong>Branch:</strong> CSE (AI & ML)</p>
            <p><strong>Email:</strong> <a href="mailto:dileepkumarirri0@gmail.com">dileepkumarirri0@gmail.com</a></p>
        </section>

        <section class="member">
            <h2>Tarun Yegireddi</h2>
            <p><strong>Branch:</strong> CSE (AI & ML)</p>
            <p><strong>Email:</strong> <a href="mailto:yegiredditarunsai@gmail.com">yegiredditarunsai@gmail.com</a></p>
        </section>

        <footer>
            <p class="college">College: Gayatri Vidya Parishad College of Engineering Visakhapatnam.</p>
        </footer>
    </main>
</body>
</html>
