<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Vision Technology</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <div class="logos">
            <div class="logo1"><img src="static/assets/flipkart.svg" alt="flipkart"></div>
            <div class="logo2"><img src="static/assets/grid.png" alt="Grid 6.0"></div>
        </div>
        <nav>
            <div class="menu-toggle" id="menuToggle">
                &#9776; <!-- Hamburger icon -->
            </div>
            <ul id="menu" class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('architectures') }}">Architecture</a></li>
                <!-- <li><a href="#">Models</a></li> -->
                <li><a href="{{ url_for('about_us') }}">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="buttons">
        <button class="button-2" id="grocery">
            <img src="static/assets/grocerylogo.png" alt="Grocery Icon" class="button-icon">Grocery Detection
        </button>
        <button class="button-2" id="freshness">
            <img src="static/assets/freshnesslogo.png" alt="Freshness Icon" class="button-icon">Freshness Detection
        </button>
        <!-- <button class="button-2" id="inspection">
            <img src="static/assets/packaging.png" alt="Data Icon" class="button-icon">Packaging Inspection
        </button><button class="button-2" id="bin_monitoring">
            <img src="static/assets/bin.png" alt="Data Icon" class="button-icon">Bin Monitoring
        </button> -->
        <button class="button-2" id="data_anaylysis">
            <img src="static/assets/analysislogo.png" alt="Data Icon" class="button-icon">Data Analysis
        </button>
    </div>   
      <div class="container" style= "margin-top: 0px; padding:10px;">
        <iframe title="dileep" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=1a0ccbbf-1275-4740-8ee0-83013ce8c62d&autoAuth=true&ctid=d9b360a7-6ca0-4a2a-a335-79ec82439b9b" frameborder="0" allowFullScreen="true"></iframe>
      </div>

    <script>

        document.getElementById('data_anaylysis').style.color = "white";
        document.getElementById('data_anaylysis').style.backgroundColor = "#0552FF";
        
        document.getElementById('grocery').addEventListener('click', function () {
            window.location.href = "/grocerydetection";
        });

        document.getElementById('freshness').addEventListener('click', function () {
            window.location.href = "/freshnessdetection";
        });

    </script>
</body>
</html>