<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Vision</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header>
    <div class="logo">
        <img src="static/images/flipkart.png" alt="Flipkart Logo"  class="small-logo">
        <img src="static/images/grid.png" alt="Grid 6.0 Logo" class="large-logo">
    </div>
    <nav>
      <a href="#">Home</a>
      <a href="#">About Us</a>
    </nav>
  </header>

  <main>
    <section class="hero">
      <div class="hero-text">
        <h1>Smart Vision Technology<br> with <span>Tech Hunters Team</span></h1>
        <p>For instant Quality Check.</p>
      </div>
      <div class="hero-buttons">
        <div class="button-container">
          <button id="live-feed-btn">
            <div class="icon">
                <img src="static/images/cam.svg" alt="camera" >
            </div>
            <div class="button-text"><h2>Live Feed</h2></div>
          </button>
        </div>
        <div class="button-container">
          <button id="upload-btn">
            <div class="icon">
                <img src="static/images/cloud.svg" alt="upload" >
            </div>
            <div class="button-text" style="padding: 10px"><h2>Upload Image<br><small>or drop a file</small></h2></div>
          </button>
        </div>
      </div>
    </section>
  </main>

  <script src="static/js/main.js"></script>
</body>
</html>
