<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload & Capture</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Capture Image</h1>
        </header>

        <!-- Camera Selection Dropdown -->
        <div class="camera-selection">
            <label for="cameraSelect"><strong>Select Camera:</strong></label>
            <select id="cameraSelect"></select>
        </div>

        <main>
            <div class="image-upload-section">
                <div class="button-container">
                    <button id="groceryBtn" aria-label="Upload Image">
                        <img src="static/images/grocery.png" alt="Upload Icon">
                        <h3>Grocery-Items</h3>
                    </button>
                </div>
                <div class="button-container">
                    <button id="freshproduceBtn" aria-label="Upload Image">
                        <img src="static/images/fruits.png" alt="Upload Icon">
                        <h3>Fresh-produce</h3>
                    </button>
                </div>
            </div>



            <div id="imageContainer" class="image-container">
                <p>No image selected</p>
            </div>

            <div class="end-buttons">
                <button id="captureBtn">
                    <h3>Capture Photo</h3>
                </button>
                <canvas id="photoCanvas" style="display:none;"></canvas>
                <button class="details">
                    <h3>Get-Details</h3>
                </button>
            </div>

            <div id="loader" class="loader hidden">
                <img src="static/images/loader.gif" alt="Loading...">
                <p>Processing, please wait...</p>
            </div>

            <div class="downloadbtn">
                <button id="download-btn">Download CSV</button>
            </div>
            <div id="tableContainer" class="table-container" style="margin-top:20px">
            </div>
        </main>

    </div>

    <script src="static/js/capturescript.js"></script>
</body>
</html>
